<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shopping.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C871447B0527F2882CCA467879538C82B10BAA98</string>
				<key>dateExpires</key>
				<string>2019/7/4</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WV22BRV42P.com.mashangyouqian</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WV22BRV42P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Shopping.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ae47e17e-3837-4fc6-90d7-e5624c9313b6</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mashangyouqian</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WV22BRV42P</string>
				<key>name</key>
				<string>Xiamen bird financial technology service co., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
